*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: lightblue;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    background-color: lightblue;
    border-radius: 5px;
}

.main{
    padding: 30px;
}

nav{
    padding: 10px;
    margin: 15px;
    text-align: center;
}

input{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

button{
    color: white;
    border: 0;
    background-color: deepskyblue;
    padding: 5px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
}

.task{
    margin-top: 50px;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid lightgray;
}

.green{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.red{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.slash{
    text-decoration:line-through;
}

.did{
    border-radius: 10px;
    padding: 5px;
    margin-left: 15px;
}

.editorial{
    background-color:royalblue;
}

.goals{
    background-color: purple;
}

.recruiting{
    background-color: aquamarine;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: fuchsia;
}

.sales{
    background-color: chartreuse;
}